#spotify-search-options {
  width: 60%;
  margin:auto;
  margin-bottom: 20px;
}

#spotify-search-count {
  font-size: 12px;
  margin-top: 40px;
}

.spotify-item {
  list-style: none;
  padding: 25px;
  margin-bottom: 10px;
  background-color: #191414;
  color: #1db954;
  border-radius: 4px;
}

.artist-img, .album-img {
  width: 180px;
  height: 180px;
  border-radius: 8px;
}

.artist-name, .album-name {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
  color: inherit;
  border-bottom: 1px solid #1db954;
  width: 100%;
  padding-bottom: 10px;
}

.loader {
  border: 16px solid #191414;
  border-radius: 50%;
  border-top: 16px solid #1db954;
  width: 80px;
  height: 80px;
  animation: spin 1.5s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.btn-spotify {
  color: #191414;
  background-color: #1db954;
}

.btn-spotify:hover {
  background-color: #169342;
}

.spotify-item-btns {
  margin-top: 30px;
}

.main-title {
  transition: 1s;
}

.red-btn {
  background-color: red!important;
  border-radius: 8px;
}

.form-group {
  transition: 0.4s;
}

.post-container {
  -webkit-transition: width 0.5s ease, margin 0.5s ease;
  -moz-transition: width 0.5s ease, margin 0.5s ease;
  -o-transition: width 0.5s ease, margin 0.5s ease;
  transition: width 0.5s ease, margin 0.5s ease;
}

.progress {
  height: 10px;
  position: fixed;
  bottom: -10px;
  left: 10px;
  width: calc(100% - 20px);
}

.service-block {
  transition: 1s;
}

.blur {
  filter: blur(2px);
  opacity:0.5;
}

.greyscale {
  filter: grayscale(100%);
}

.sepia {
  filter: sepia(100%);
}

.contrast {
  filter: contrast(100%);
}

.invert {
  filter: invert(100%);
}

.section {
  transition: 0.4s;
}

.service-block h3 {
  transition: 0.4s;
}

.invert-text {
  background-color: #555;
  color: white;
  border-radius: 4px;
}

.entry-media {
  transition: 0.6s;
}

.service-block i.hidden-icon:before {
  visibility: hidden;
}
